<launch> 	
  <!--spark驱动，机器人描述，相机，底盘-->
  <include file="$(find spark_bringup)/launch/driver_bringup.launch"/>
  
  <!--UARM机械臂-->
  <node pkg="swiftpro" type="swiftpro_write_node" name="swiftpro_write_node" output="screen"/>
  	  
  <!--导航-->
  <include file="$(find spark_navigation)/launch/amcl_lidar.launch"/>
  
  <!--搬运物体-->
  <node pkg="spark_carry_object" type="s_carry_object.py" name="spark_carry_object_node" output="screen">
  	<param name ="a_Pose" value = "0,0,0,0,0,0,1"/>
  	<param name ="b_Pose" value = "0.5,0.5,0,0,0,0,1"/>
	<param name ="turnbody_min_z" value = "-0.2"/>
	<param name ="turnbody_max_z" value = "0.2"/>
  </node>
  
</launch>
