<!--spark navigation lidar-->
<launch>

 	<!-- description file -->
  	<include file="$(find spark_description)/launch/spark_description.launch"/>

	<!-- base -->
  	<include file="$(find spark_base)/launch/spark_base.launch">
		<arg name="serialport"                  value="/dev/sparkBase"/>
  	</include>


	<!-- 3D sensor -->
  	<arg name="3d_sensor" default="3i_lidar"/>  
  	<include file="$(find iiiroboticslidar2)/launch/3iroboticslidar2.launch">
  	</include>


	<!-- Map server -->
  	<arg name="map_file" default="$(find spark_slam)/scripts/test_map.yaml"/>
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  	<!-- AMCL -->
  	<arg name="custom_amcl_launch_file" default="$(find spark_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
  	<arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  	<arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  	<arg name="initial_pose_a" default="0.0"/>
  	<include file="$(arg custom_amcl_launch_file)">
    		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  	</include>

  	<!-- Move base -->
  	<arg name="custom_param_file" default="$(find spark_navigation)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
  	<include file="$(find spark_navigation)/launch/includes/move_base.launch.xml">
    		<arg name="custom_param_file" value="$(arg custom_param_file)"/>
  	</include>

</launch>

