<?xml version="1.0" ?>
<!-- 
	spark robot's description    
	
	Copyright 2016 NXROBO INTERNATIONAL (HONG KONG) LIMITED.
    http://www.nxrobo.com
-->

<robot name="spark" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="camera_types" default="astrapro"/>
	<xacro:arg name="lidar_type_tel"	default="3iroboticslidar2"/>
  	<xacro:include filename="$(find spark_description)/urdf/spark_340.urdf.xacro">
		<xacro:arg name="camera_types"	value="$(arg camera_types)"/>	
		<xacro:arg name="lidar_type_tel"	value="$(arg lidar_type_tel)"/>	
	</xacro:include> 	
</robot>
