<!--voice_nav-->
<launch>
	<!-- camera -->
	<arg name="camera_type_tel" default="" doc="camera type [astrapro, astra]"/>
	<!--spark底盘驱动，机器人描述,底盘,相机-->
	<include file="$(find spark_bringup)/launch/driver_bringup.launch">
		<arg name="camera_types"	value="$(arg camera_type_tel)" />
	</include>
	<!--spark键盘控制 “wsad”分别代表“前后左右”-->
	<node pkg="spark_voice" type="local_asr.py" name="local_asr" />
        <node pkg="spark_voice" type="voice_nav.py" name="voice_nav" />
</launch>
