<!--spark camera slam-->
<launch>
	<!--spark slam-->
  	<arg name="slam_methods_tel" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
	<arg name="depthtolaser" default="/camera/depth/image_rect_raw"/>
	<arg name="camera_type_tel" default="" doc="camera type [astrapro, astra]"/>
	<include file="$(find spark_slam)/launch/depth_slam.launch">
		<arg name="slam_methods"	value="$(arg slam_methods_tel)"/>
		<arg name="camera_types"	value="$(arg camera_type_tel)" />
		<arg name="depthtolaser"	value="$(arg depthtolaser)"/>
 	</include> 
  	<!--创建新的终端，spark键盘控制 “wsad”分别代表“前后左右”-->
  	<node pkg="spark_teleop" type="keyboard_control.sh" name="kc_depth" />
	<!--创建新的终端，确定是否保存地图-->
  	<node pkg="spark_slam" type="cmd_save_map.sh" name="csm_depth" />
</launch>
