<!--just spark base and description-->
<launch>
  <arg name="serialport" default="/dev/sparkBase"/>
  <include file="$(find spark_description)/launch/spark_description.launch"/>
  <include file="$(find spark_base)/launch/spark_base.launch">
	<arg name="serialport"                  value="$(arg serialport)"/>
  </include>
</launch>
