
	<launch>
		<!-- Nxrobo -->
		
		<node pkg="b_3ilidar" type="b_3ilidar_node" name="b_3ilidar_node" output="screen">
		   <param name = "lidar_USB" value = "/dev/ttyUSB1"/>
		</node>

		 <!--  <param name = "lidar_USB" value = "/dev/sparkBase"/>-->
		
		<!--node pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
			args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 laser_frame base_footprint 1000" output="screen"/-->
	</launch>
	
