<launch>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">

    <remap from="image" to="/camera/depth_registered/image_raw" />
    <remap from="camera_info" to="/camera/depth_registered/camera_info" />
    <remap from="scan" to="/scan" />

    <param name="scan_height" value="1"/><!--取几行中心像素-->
    <param name="scan_time" value="0.05"/>
    <param name="range_min" value="0.5"/>
    <param name="range_max" value="5.5"/>
    <param name="output_frame_id" value="/camera_depth_frame" />

  </node>

</launch>
