<!--spark rtabmap-->
<!--SPARK技术讨论与反馈群：8346256-->
<launch>

	<!-- spark base driver -->
	<include file="$(find spark_rtabmap)/launch/rtab_demo.launch"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find spark_rtabmap)/rviz/spark_rtab_map.rviz"/>
	<!-- rtabmap -->
  	<include file="$(find spark_rtabmap)/launch/spark_mapping.launch">
		<arg name="localization"                  value="true"/>
	</include>


</launch>
